<h1>Task Saver</h1>

<h3>List all of your wishes.</h3>

<ul>
  {{#each wishes}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Wish: {{this.task}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="wish"></textarea>

	<button type="submit">Submit</button>
</form>
